.header {
    display: flex;
    justify-content: space-around;
    font-family: bodyText, serif;
    align-items: center;
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 2;
    backdrop-filter: blur(4px);
    border-bottom: 1px solid #ce8133 ;
}

.fullName {
    color: white;
    font-weight: bold;
    font-size: 11px;
}