.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid white;
}

.fullName {
    color: white;
    font-weight: bold;
    font-size: 11px;
}