@import '../../common/styles/sass/varibles';
@import '../../common/styles/sass/mixins';

.skill {
    border: 3px solid #ce8133;
    width: 250px;
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
    text-align: center;
margin: 10px auto;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    overflow: hidden;

    .icon {
        background-color: white;

        border-radius: 14px;
        height: 60px;
        width: 60px;
        img {
            height: 60px;
            width: 60px;
        }
    }
    h3 {
        @include text(titleF3d, 700, 19px);
        color: $justBodyTextColor;
        margin-left: 20px;
    }
}

