.mainBlock {
    min-height: 100vh;
    background-color: hsl(0, 0%, 3%);
}
.text {
    width: 330px;
    background-color: aquamarine;
}
.photo {
    width: 300px;
    height: 400px;
    background-color: gray;
}

