* {
    box-sizing: border-box;
}


@font-face {
    font-family: bodyText;
    src: url('./../src/assets/fonts/bodyDes/SYNNova-Regular.otf');
}
@font-face {
    font-family: titleF3d;
    src: url('./../src/assets/fonts/titleFont/Squad3DRegular.otf');
}
@font-face {
    font-family: titleF;
    src: url('./../src/assets/fonts/titleFont/PilotCommandLaser.otf');
}

h1 {
    font-family: titleF3d, serif;
    font-weight: 480;
}

.App {
    background-color: #505b46;
    overflow: hidden;
}

