* {
    box-sizing: border-box;

}

@font-face {
    font-family: test;
    src: url('./../src/assets/fonts/Therace/Therace.ttf');
}
h1 {
    font-family: test;
    font-weight: 100;
}

.App {
    background-color: #940606;
    overflow: hidden;
}

.backgroundNoise {
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 100%;
    }
}
