.nav {
    width: 300px;
    display: flex;
    justify-content: space-around;
    color: white;
    font-weight: bold;
}
a:hover {
    cursor: pointer;
    color: #ce8133;
}

/*.active {*/
/*    color: #ce8133;*/
/*    z-index: 5;*/
/*}*/
