$titleColor: wheat;
$backgroundTextColor: #e55139;
$justBodyTextColor: hsl(0, 15%, 95%);
$fontForDescriptionTitle:"Maison Neue", "Segoe UI", Roboto, "Helvetica Neue", sans-serif ;
$fontDescriptionFontDes: suisse-book, Arial, sans-serif;