.footerBlock {
    min-height: 30vh;
    background-color: hsl(0, 1%, 16%);
}

.footerContainer {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.title {
    background-color: gray;
}

.icons {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
}

.icon {
    height: 60px;
    width: 60px;
    background-color: gray;
}

