.footerBlock {
    min-height: 30vh;
}

.footerContainer {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.icons a {
    text-decoration: none;
    display: flex;
    border: 1px solid white;
    border-bottom: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: steelblue;
    width: 100%;
    font-family: bodyText, serif;
    font-size: 24px;

}

.icons a:hover {
    transform: scale(1.2);
}

.icons img {
    width: 60px;
    height: 60px;
}

.icon {
    display: flex;
    align-items: center;
}
.icon img {
    display: flex;
}

.Email {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: bodyText, serif;
    color: white;
    font-size: 24px;
    font-weight: bold;
    background-color: #ce8133;
    height: 50px;
    border: 1px solid white;
}

.Email:hover {
    transform: scale(1.2);
    color: #505b46;
}

.Email img {
    margin-left: 10px;
    width: 40px;
    height: 40px;
}
@media screen and (max-width: 673px) {
    .icons {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
.icons a:active {
    transform: scale(0.9);
}
.icons a:hover {
    color: #505b46;
}
a:active {
    transform: scale(0.9);
}

a {
    color: white;
}